[submodule "hash_table_xifu0847"]
	path = hash_table_xifu0847
	url = https://github.com/cu-swe4s-fall-2019/hash-tables-xifu0847
[submodule "avl_tree"]
	path = avl_tree
	url = https://github.com/swe4s/avl_tree.git
